body{font-family: 'Gentium Basic' !important; background-size:100%;}
div.resume div.title, div.resume div.degree, div.resume span.skill-group-name {font-family: 'Open Sans Semibold'; font-weight:700; font-size: 0.9em;}


